@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$header-bg-color: #CBC1B1;
$text-color: black;
$font-family: 'Lato', sans-serif;
$font-weight: 800;

.header {
    padding: 0 70px;
    display: flex;
    align-content: center;
    justify-content: space-between;

    margin-bottom: 20px;
    background-color: $header-bg-color;

    .nav {
        display: flex;
        align-self: center;
        justify-content: center;
        gap: 60px;
        list-style-type: none;

        li a {
            text-decoration: none;
            color: $text-color;
            font-size: 1.2rem;
            font-family: $font-family;
            font-weight: $font-weight; 
        }
    }
}

body {
    margin: 0;
    background-color: #edece8 ;
}

.nadpis {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 2rem;
    font-family: $font-family;
    font-weight: $font-weight;
    margin: 0;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    font-family: $font-family;
    font-weight: $font-weight;
  }

  .field {
    display: flex;
    margin: 1vw;
    width: 25vw;
    height: 30px;
    background-color: #ccc9c5;
    padding: 5px;
    border: none;
  }

  .big-field {
    margin: 10px;
    width: 52.5vw;
    height: 15vh;
    border: none;
    padding: 5px;
    background-color: #ccc9c5;
    font-family: $font-family;
    font-weight: $font-weight;

  }

  .button {
    margin: 10px;
    width: 100px;
    height: 30px;
    background-color: #ccc9c5;
    color: #7c7474;
    border: none;
    cursor: pointer;
  }

  .column {
    display: flex;
    flex-direction: row;
  }

  footer {
    position: fixed;
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $header-bg-color;  
    text-align: center;
    font-family: $font-family;
  }

  @media only screen and (max-width: 600px) { 
    .header {
      padding: 0 20px;
      flex-direction: column;
    }
  
    .nav {
      gap: 20px;
      li a {
        font-size: 1rem;
      }
    }
  
    .logo {
      width: 100px;
      height: 100px;
    }
  
  .column {
    display: flex;
    flex-direction: column;
  }
.field {
   width: 60vw;

  
  
  }
  .big-field {
   width: 60vw;

  
  
  }
.button {
   margin-top: 5vh;

  
  
  }
}