.header {
    padding: 0 70px;
    display: flex;
    align-content: center;
    justify-content: space-between;

    margin-bottom: 20px;
    background-color: #CBC1B1;

  }

.nav {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 60px;
    list-style-type: none;
  }

.nav li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
  }

  .row {

    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
   
    

  }

  .column {

    display:flex;
    flex-direction: column;
    
  }

 
.style{

  display: flex;
  justify-content: space-between;
  width: 80%;
  
  
  
 padding: 5vh;
}

.aha {

  display: flex;
  flex-direction: row;
  order: 1;
  font-family: 'Lato';
  
  
}

body {
  margin: 0;
}

