@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$header-bg-color: #CBC1B1;
$text-color: black;
$font-family: 'Lato', sans-serif;
$font-weight: 800;

.header {
    padding: 0 70px;
    display: flex;
    align-content: center;
    justify-content: space-between;

    margin-bottom: 20px;
    background-color: $header-bg-color;

    .nav {
        display: flex;
        align-self: center;
        justify-content: center;
        gap: 60px;
        list-style-type: none;

        li a {
            text-decoration: none;
            color: $text-color;
            font-size: 1.2rem;
            font-family: $font-family;
            font-weight: $font-weight; 
        }
    }
}

.row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 5rem; 
}

.column {
    display:flex;
    flex-direction: column; 
}

.style{
  display: flex;
  justify-content: space-between;
  width: 80%;  
 padding: 5vh;
}

.aha {
  display: flex;
  flex-direction: row;
  order: 1;
  font-family: $font-family;
  font-weight: $font-weight; 
}

body {
  margin: 0;
  background-color:#edece8 ;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $header-bg-color;  
  text-align: center;
  font-family: $font-family;
}
.burgr { 
  display: none;
}
@media only screen and (max-width: 600px) {
  .header {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    
    gap: 20px;
    li a {
      font-size: 1rem;
    }
  }

  .row {
    flex-direction: column;
    margin: 2rem;
  }

  .column {
    justify-content: space-around;
  }

  .style {
    display: flex;
    width: 80%;  
    padding: 5vh;
    
  }

  .aha {
    order: 2;
    margin-left: 10px;
  }

  .logo {
    width: 100px;
    height: 100px;
  }
  .nav li a {

    display: none;
  }
  .burgr { 
    display: block;
      width: 7.5%;
      height: 7.5%;
      align-self: center;
        flex-direction: row;
        order: 1;
    }
}

